/*===================================================*
**                                                  =*
**                      FONTS                       =*
**                                                  =*
**==================================================*/

/*===================Anonymous Pro==================*/
@font-face {
    font-family: 'Anonymous Pro';
    src: url('/fonts/anonymous_pro/anonymous_pro.eot');
    src: local('Anonymous Pro'), local('Anonymous Pro Regular'), url('/fonts/anonymous_pro/anonymous_pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Anonymous Pro';
    src: local('Anonymous Pro'), local('Anonymous Pro Bold'), url('/fonts/anonymous_pro/anonymous_pro_b.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Anonymous Pro';
    src: local('Anonymous Pro'), local('Anonymous Pro Bold Italic'), url('/fonts/anonymous_pro/anonymous_pro_bi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Anonymous Pro';
    src: local('Anonymous Pro'), local('Anonymous Pro Italic'), url('/fonts/anonymous_pro/anonymous_pro_i.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*===================Azoft Sans==================*/
@font-face {
    font-family: 'Azoft Sans';
    src: url('/fonts/azoft/azoft-sans.eot');
    src: local('Azoft Sans'), local('Azoft Sans Regular'), url('/fonts/azoft/azoft-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Azoft Sans';
    src: local('Azoft Sans'), local('Azoft Sans Bold Italic'), url('/fonts/azoft/azoft-sans-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Azoft Sans';
    src: local('Azoft Sans'), local('Azoft Sans Bold'), url('/fonts/azoft/azoft-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Azoft Sans';
    src: local('Azoft Sans'), local('Azoft Sans Italic'), url('/fonts/azoft/azoft-sans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

img{
	border:0; 
	outline:none; 
}

:focus{
	outline:none;
	border:0;
}

a[rel="tofancy"]>img{
	cursor: inherit!important;
}