html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

img{
	border:0; 
	outline:none; 
}

:focus{
	outline:none;
}

a[rel="tofancy"]>img{
	cursor: inherit!important;
}