.mod_catalogitems.categories .toolbar a{
	position: relative;
	margin-right: 10px;
	border-bottom: 1px dashed #FFF;
	color: #FFF;
	text-decoration: none;
}

.mod_catalogitems.categories .toolbar a:hover{
	border-color:#A3A3A3;
	color:#A3A3A3;
}

.mod_catalogitems.categories .toolbar a:active{
	border-color:#6B6B6B;
	color:#6B6B6B;
}


.mod_catalogitems.categories>span:first-child{
	color: #8F8F8F;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: bold;
}

.mod_catalogitems.categories ul{
	position:relative;
	display: block;
	margin:0 0 0 10px;
	padding:0;
	background: url('/system/admin/img/vline.png') repeat-y;
	list-style:none;
	text-align: left;
}

.mod_catalogitems.categories li{
	padding-left: 10px;
	background: url('/system/admin/img/node.png') no-repeat;
}

.mod_catalogitems.categories ul>li:last-child {
	background: #353535 url('/system/admin/img/lastnode.png') no-repeat;
}


.mod_catalogitems.categories ul:first-child{
	margin-left:30px;
}

.mod_catalogitems.categories ul li{
	display: block;
}


.mod_catalogitems.categories ul li.ui-sortable-helper{
	padding:4px;
	border: 1px solid #727272;
	background: #353535;
	box-shadow:3px 3px 10px rgba(0,0,0,0.8);
	opacity:0.5;
}

.mod_catalogitems.categories span.hlp{
	margin: 0px 2px 0px 5px;
}

.mod_catalogitems.categories ul li a{
	color: white;
	text-decoration:none;
}

.mod_catalogitems.categories ul li a.disabled{
	color:#B42F2F;
}

.mod_catalogitems.categories ul li a.hidden{
	color:#666666;
}

.mod_catalogitems.categories ul li a.disabled.hidden{
	border-bottom:1px dotted #B42F2F;
	color:#666666;
}

.mod_catalogitems.categories ul li a:hover{
	color: #FFA442;
	text-decoration:none;
}

.mod_catalogitems.categories ul li a.act{
	color:lime;
}

.mod_catalogitems.categories a.node_ctrl{
	float: left;
	margin: 4px 4px 0px 0px;
	width: 12px;
	height: 12px;
	background: url('/system/admin/img/icons.png');
	background-position: -12px -84px;
	opacity:0.8;
	cursor:pointer;
}

.mod_catalogitems.categories a.node_ctrl.plus{
	background-position: 0px -84px;
}

.mod_catalogitems.categories a.node_ctrl.empty{
	width:0px;
	height:0px;
	background:none;
}

.mod_catalogitems.categories ul{
	display:none;
}

.mod_catalogitems.categories a.node_ctrl:hover{
	opacity:1;
}

.mod_catalogitems.categories .block.categories{
	text-align: left;
}

.mod_catalogitems.categories .block.categories ul li a{
	color:#BBA962;
}

.mod_catalogitems.categories .block.categories ul li a:hover{
	color:#CF904C;
}

.mod_catalogitems.categories .block.categories ul.items {
	display: block;
}

.mod_catalogitems.categories .block.categories ul.items a{
	color: #FFF;
	font-size: 14px;
}

.mod_catalogitems.categories .block.categories ul.items a:hover{
	color: #C4C4C4;
}

.mod_catalogitems.categories .block.categories ul.items a.selected,
.mod_catalogitems.categories .block.categories ul.items a.selected:hover{
	color: red;
}

.mod_catalogitems.categories .block.categories b.empty{
    display: block;
    margin-left: 4px;
    color: #888;
    font-weight: normal;
    font-size: 13px;
}

.mod_catalogitems ul.index_list{
	position:relative;
	margin:0;
	margin-top: 20px;
	padding:0;
	list-style:none;
}

.mod_catalogitems ul.index_list li{
	position:relative;
	margin: 5px 0;
}

.mod_catalogitems ul.index_list li>a[item-id]{
	color: #FFF;
	text-decoration: none;
}

.mod_catalogitems ul.index_list li>a[item-id]:hover {
	color: #C5C5C5;
}

.mod_catalogitems ul.index_list li>a[item-id]:active {
	color: #A0A0A0;
}

.mod_catalogitems ul.index_list li>a.delete{
	position:relative;
	display: inline-block;
	margin: 4px 0px 0px 4px;
	width: 12px;
	height: 12px;
	background: url('/system/admin/img/icons.png');
	background-position: -62px -84px;
	text-decoration:none;
	opacity: 0.8;
	cursor: pointer;
}

.mod_catalogitems ul.index_list li>a.delete:hover{
	opacity:1;
}

